<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scanner</title>
    <script src="static/js/home.js"></script>
    <link rel="stylesheet" href="static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

</head>

<body>
    <h1>Web Scanner</h1>
    <div id="chatContainer">
        <!-- Chat content will be dynamically added here -->
    </div>
    <form id="toolForm" method="POST" onsubmit="sendMessage(event)">
        <input type="text" class="input-web-url" name="url" id="url" placeholder="Enter URL (e.g., example.com)" required>
        <button type="button" onclick="runTool('sslscan')">SSLScan</button>
        <button type="button" onclick="runMhuntScan()">Directory Scan</button>
        <button type="button" onclick="stopScan()" id="stopScan" style="display: none;">Stop Scan</button>
    </form>
    <div id="loading" class="spinner" style="display: none;"></div>
</body>


</html>
